
	{{.VarPrefix}}r := {{.Name}}.Sql{{.Name}}Repository{Db: db}
	{{.VarPrefix}}s := api.{{.PublicName}}Server{{"{"}}{{.PublicVarPrefix}}r: &{{.VarPrefix}}r}
	{{.VarPrefix}}s.RegisterRoutes(r)
  //weaver:renderEnd
